/Referenced Packages
/salesforce.schema

src/package.xml

src/.gitignore

.gitignore

src/profiles/StandardAul.profile

src/profiles/Standard.profile

src/profiles/SolutionManager.profile

src/profiles/ReadOnly.profile

src/profiles/PlatformPortal.profile

src/profiles/Partner.profile

src/profiles/MarketingProfile.profile

src/profiles/HighVolumePortal.profile

src/profiles/GW Standard User.profile

src/profiles/Force%2Ecom - Free User.profile

src/profiles/CustomerManager.profile

src/profiles/ContractManager.profile

src/profiles/Chatter Moderator User.profile

src/profiles/Chatter Free User.profile

src/profiles/Chatter External User.profile

src/profiles/Admin.profile

src/objects/JigsawSavedSearch.object

src/objectTranslations/TriggerSettings__c-en_US.objectTranslation

src/objectTranslations/Recurring_Payment_Profile__c-en_US.objectTranslation

src/objectTranslations/OppRollupSettings__c-en_US.objectTranslation

src/objectTranslations/OppPayment__c-en_US.objectTranslation

src/objectTranslations/ONEN_Household__c-en_US.objectTranslation

src/objectTranslations/MiscellaneousBaseSettings__c-en_US.objectTranslation

src/objectTranslations/Lead_Converter_Field_Map__c-en_US.objectTranslation

src/objectTranslations/Interaccount_Relationship__c-en_US.objectTranslation

src/objectTranslations/Engagement_Donor_Level_Settings__c-en_US.objectTranslation

src/objectTranslations/EngagementTrackerSettings__c-en_US.objectTranslation

src/objectTranslations/EngagementFrequencySettings__c-en_US.objectTranslation

src/objectTranslations/EngagementContactFieldSettings__c-en_US.objectTranslation

src/objectTranslations/Contact_Relationship__c-en_US.objectTranslation

src/objectTranslations/ConRole_Settings__c-en_US.objectTranslation

src/objectTranslations/Campaign_Mbr_Status_Settings__c-en_US.objectTranslation

src/objectTranslations/Account_Relationship__c-en_US.objectTranslation

src/labels/CustomLabels.labels

src/reports/User_Adoption_Reports/SampleReportofTasksandActivities.report

src/reports/User_Adoption_Reports/SampleReportofTasksandActivities.report

src/reports/User_Adoption_Reports/SampleReportofTasksandActivities.report

src/reports/User_Adoption_Reports/SampleReportofSolutions.report

src/reports/User_Adoption_Reports/SampleReportofTasksandActivities.report

src/reports/User_Adoption_Reports/SampleReportofTasksandActivities.report

src/reports/User_Adoption_Reports/SampleReportofTasksandActivities.report
